In [1]:
import selenium
from selenium import webdriver
import pandas as pd

In [13]:
DRIVER_PATH = './chromedriver.exe'
wd = webdriver.Chrome(executable_path=DRIVER_PATH)
url = 'https://www.indeed.co.in/jobs?q='

In [14]:
skill = 'data science'
loc = 'bengaluru'
exp = 0

In [15]:
url_skill = '+'.join(skill.split())

In [16]:
url = url + url_skill + '&l=' + loc
url

'https://www.indeed.co.in/jobs?q=data+science&l=bengaluru'

In [17]:
wd.get(url)

In [49]:
try:
    container = wd.find_element_by_id("resultsCol")
    divs = container.find_elements_by_xpath('div[@class="jobsearch-SerpJobCard unifiedRow row result clickcard"]')
except:
    pass
data = [['Title','Company','ctc','experience','location','Description','skills_required','link']]
i=0
for div in divs:
    try:
        title = div.find_element_by_class_name("title").find_element_by_tag_name("a")
        name = title.text
        link = title.get_attribute("href")
    except:
        continue
    try:
        company = div.find_element_by_class_name("company").text
    except:
        company='Not Available'
    try:
        sal = div.find_element_by_class_name("salaryText").text
    except:
        sal = 'Not Available'
    try:
        location = div.find_element_by_xpath('//div[@class="location accessible-contrast-color-location"]').text
    except:
        location='Not Available'
    try:
        jd = div.find_element_by_class_name("summary").text
    except:
        jd = 'Not Available'
    exp = 'Not Available'
    req_skills = 'Not Available'
    data.append([name,company,sal,exp,location,jd,req_skills,link])
    i+=1
    if i==10:
        break

In [51]:
pd.DataFrame(data[1:],columns=data[0])

,Title,Company,ctc,experience,location,Description,skills_required,link
0,Data Management Specialist,Telstra,Not Available,Not Available,Karnataka,Experience related to data analytic/data remed...,Not Available,https://www.indeed.co.in/pagead/clk?mo=r&ad=-6...
1,Data Scientist,HP,Not Available,Not Available,Karnataka,"Ability to merge different data sources, analy...",Not Available,https://www.indeed.co.in/pagead/clk?mo=r&ad=-6...
2,Junior SaaS Sales Manager - Remote Position,StartUs Insights,"₹45,000 - ₹60,000 a month",Not Available,Karnataka,"We’re StartUs Insights, an international data ...",Not Available,https://www.indeed.co.in/pagead/clk?mo=r&ad=-6...
3,Java Developer,Applied Materials Inc.,Not Available,Not Available,Karnataka,As a Tech lead your primary responsibility wil...,Not Available,https://www.indeed.co.in/pagead/clk?mo=r&ad=-6...
4,Data Analyst,Siemens AG,Not Available,Not Available,Karnataka,You will be Acquire data from multiple systems...,Not Available,https://www.indeed.co.in/rc/clk?jk=ef5f4b309af...
5,Junior Data Scientist,Ninestars Information Technologies,"₹2,00,000 - ₹4,00,000 a year",Not Available,Karnataka,We are looking for Data Science Fresher’s cand...,Not Available,https://www.indeed.co.in/company/Ninestars-Inf...
6,Data Scientist Intern Job,Dasceq,"₹2,00,000 - ₹3,00,000 a year",Not Available,Karnataka,To manipulate data and draw insights from larg...,Not Available,https://www.indeed.co.in/rc/clk?jk=effacadbb8e...
7,Data Science expert,Segler Tech,Not Available,Not Available,Karnataka,Looking for a Data Science exert with minimum ...,Not Available,https://www.indeed.co.in/company/Segler-Techno...
8,Data Science Internship,Mahindra Teqo Private Limited,"₹8,000 a month",Not Available,Karnataka,Develop visualizations on static and real-time...,Not Available,https://www.indeed.co.in/rc/clk?jk=074c50caa30...
9,Data Annotators for Machine Learning,Shortlyst.ai,"₹8,000 - ₹15,000 a month",Not Available,Karnataka,Engage in data entry.\nThis is a business proc...,Not Available,https://www.indeed.co.in/company/Shortlyst.ai/...

In [22]:
container = wd.find_element_by_id("resultsCol")

In [25]:
divs = container.find_elements_by_xpath('div[@class="jobsearch-SerpJobCard unifiedRow row result clickcard"]')
len(divs)

16

In [34]:
div = divs[2]

In [35]:
title = div.find_element_by_class_name("title").find_element_by_tag_name("a")
name = title.text
link = title.get_attribute("href")
print(name,link)

Junior SaaS Sales Manager - Remote Position https://www.indeed.co.in/pagead/clk?mo=r&ad=-6NYlbfkN0AAN88MX9AoL9ncJEpEtD0Zz0JBZLoGox1b2BDssbm-dg4E0UIyG1W8nVd-2RdKkz442P_M8L0VuBR5r0ab4S2HX8cw2qFiue-BZkwtHjXA80hAaafKv5NBzUz9F4ytCUG8wLDwo9ZuXW83C_8_zIUD80ThKQnLVeyXO1mRmP-5Za0-A4aFVYHvlT4Xs5RvsJyAuB6kFphQXyfwP9e4_GhdoWE1RS_YSWFy4DPCYsxeyHASy6T33SImlAe0pxggPZzR3e1e6dVfIK9S2jgMB8jvNTPfR5dxycV_4NwFmXq0VH94HpXhQkN1Jjd5OS3JIzo7fvyhiowMblwYYI7Y7XuKuJX3obWClPNb9_4TtPD4kZkg7183fF4Aqfqylcv5fArdo41pDscvTHeRdV8dDc6ex1TwtDm90350Nwk3oyrtTB7n2NxqmKtvwOkvmU35vq1yKAxxy340EyIFMq9Zh4aXDxKHUghV1EZeaocI2brbEw==&p=2&fvj=1&vjs=3

In [44]:
company = div.find_element_by_class_name("company").text
company

'StartUs Insights'

In [37]:
sal = div.find_element_by_class_name("salaryText").text
sal

'₹45,000 - ₹60,000 a month'

In [38]:
exp = 'Not Available'

In [42]:
location = div.find_element_by_xpath('//div[@class="location accessible-contrast-color-location"]').text
location

'Karnataka'

In [45]:
jd = div.find_element_by_class_name("summary").text
jd

'We’re StartUs Insights, an international data science company that analyzes startups and emerging technologies to anticipate future industry trends.'

In [46]:
req_skills = 'Not Available'