In [1]:
import selenium
from selenium import webdriver
import pandas as pd

In [6]:
DRIVER_PATH = './chromedriver.exe'
wd = webdriver.Chrome(executable_path=DRIVER_PATH)
url = 'https://www.linkedin.com/jobs/search/?keywords='

In [7]:
skill = 'data science'
loc = 'bengaluru'
exp = '2'

In [8]:
url_skill = ' '.join(skill.split())
url = url + url_skill + '&location=' + loc
url

'https://www.linkedin.com/jobs/search/?keywords=data science&location=bengaluru'

In [9]:
wd.get(url)

In [21]:
try:
    container = wd.find_element_by_id("jobs-search__results-list")
    lst = container.find_elements_by_class_name("result-card")
except:
    pass
data = [['Title','Company','ctc','experience','location','Description','skills_required','link']]
i = 0
for li in lst:
    try:
        name = li.find_element_by_class_name("result-card__title").text
        link = li.find_element_by_class_name("result-card__full-card-link").get_attribute("href")
    except:
        continue
    exp = 'Not Available'
    try:
        company = li.find_element_by_class_name("result-card__subtitle-link").text
    except:
        company = 'Not Available'
    try:
        loc = li.find_element_by_class_name("job-result-card__location").text
    except:
        loc = 'Not Available'
    try:
        jd = li.find_element_by_class_name("job-result-card__snippet").text
    except:
        jd = 'Not Available'
    req_skills = 'Not Available'
    sal = 'Not Available'
    data.append([name,company,sal,exp,loc,jd,req_skills,link])
    i+=1
    if i==10:
        break

In [22]:
pd.DataFrame(data[1:],columns=data[0])

,Title,Company,ctc,experience,location,Description,skills_required,link
0,Associate - Analytics & Business Insights,Myntra,Not Available,Not Available,"Bengaluru, Karnataka, India",Strong analytical skills with the ability to c...,Not Available,https://in.linkedin.com/jobs/view/associate-an...
1,Data Scientist,MakeMyTrip,Not Available,Not Available,"Bengaluru, Karnataka, India",Build mathematical models to be deployed in th...,Not Available,https://in.linkedin.com/jobs/view/data-scienti...
2,Data Analyst,Walmart Labs India,Not Available,Not Available,"Anekal, Karnataka, India",Walmart is looking for self motivated Data Ana...,Not Available,https://in.linkedin.com/jobs/view/data-analyst...
3,Data Scientist Intern,Amazon,Not Available,Not Available,"Bengaluru, Karnataka, India",Amazon's looking for Data Scientist to optimiz...,Not Available,https://in.linkedin.com/jobs/view/data-scienti...
4,DATA SCIENTIST,IBM India Private Limited,Not Available,Not Available,"Bengaluru, Karnataka, India",What about all of these? You will bring deep e...,Not Available,https://in.linkedin.com/jobs/view/data-scienti...
5,Data Scientist,IBM,Not Available,Not Available,"Bengaluru, Karnataka, India",What about all of these? Are you looking for a...,Not Available,https://in.linkedin.com/jobs/view/data-scienti...
6,Data Visualization Associate,J.P. Morgan,Not Available,Not Available,"Bengaluru, Karnataka, India",6+ years proven experience in IT development /...,Not Available,https://in.linkedin.com/jobs/view/data-visuali...
7,Data Scientist,PayPal,Not Available,Not Available,"Bengaluru, Karnataka, India","You grow comfortable with ambiguity, fueled by...",Not Available,https://in.linkedin.com/jobs/view/data-scienti...
8,"Research Scientist, Google Research",Google,Not Available,Not Available,"Bengaluru, Karnataka, India",Our mission at Google Research India is to con...,Not Available,https://in.linkedin.com/jobs/view/research-sci...
9,Cslt-Data Analytics,Verizon Data Services,Not Available,Not Available,"Bengaluru, Karnataka, India",The ideal candidate is an experienced data pip...,Not Available,https://in.linkedin.com/jobs/view/cslt-data-an...

In [11]:
container = wd.find_element_by_class_name("jobs-search__results-list")
lst = container.find_elements_by_class_name("result-card")
li = lst[0]
li.text

'Associate - Analytics & Business Insights\nMyntra\nBengaluru, Karnataka, India\nStrong analytical skills with the ability to collect, organize, analyse, and disseminate significant amounts of information with ...\n1 week ago'

In [18]:
name = li.find_element_by_class_name("result-card__title").text
link = li.find_element_by_class_name("result-card__full-card-link").get_attribute("href")
print(name,link)

Associate - Analytics & Business Insights https://in.linkedin.com/jobs/view/associate-analytics-business-insights-at-myntra-1812532093?refId=f30413b4-2634-4c6d-bd2a-fef0a4a4b465&position=1&pageNum=0&trk=public_jobs_job-result-card_result-card_full-click

In [15]:
company = li.find_element_by_class_name("result-card__subtitle-link").text
company

'Myntra'

In [16]:
loc = li.find_element_by_class_name("job-result-card__location").text
loc

'Bengaluru, Karnataka, India'

In [17]:
jd = li.find_element_by_class_name("job-result-card__snippet").text
jd

'Strong analytical skills with the ability to collect, organize, analyse, and disseminate significant amounts of information with ...'