In [1]:
import selenium
from selenium import webdriver
import pandas as pd

In [49]:
DRIVER_PATH = './chromedriver.exe'
wd = webdriver.Chrome(executable_path=DRIVER_PATH)
url = 'https://www.naukri.com/'

In [50]:
skill = 'data science'
loc = 'bangalore'
exp = 0

In [51]:
url_skill = '-'.join(skill.split())

In [52]:
url = url + url_skill + '-jobs-in-' + loc + '?experience=' + str(exp)
url

'https://www.naukri.com/data-science-jobs-in-bangalore?experience=0'

In [53]:
wd.get(url)

In [40]:
try:
    div = wd.find_element_by_class_name("list")
    article = div.find_elements_by_tag_name("article")
except:
    pass
# article = article[:3]#REMOVE THIS LINE
data = [['Title','Company','ctc','experience','location','Description','skills_required','link']]
for art in article:
    try:
        a = art.find_elements_by_tag_name("a")
        name = a[0].text
        link = a[0].get_attribute("href")
        company = a[1].text
    except:
        continue
    try:
        ul = art.find_elements_by_tag_name("ul")
        li = ul[0].find_elements_by_tag_name("li")
        try:
            experience = li[0].text
        except:
            experience = "Not Available"
        try:
            ctc = li[1].text
        except:
            ctc = "Not Available"
        try:
            location = li[2].text
        except:
            location = loc
        try:
            lst = [i for i in ul[1].text.split('\n')]
            req_skills = ' '.join(lst)
        except:
            req_skills = "Not Available"
    except:
        continue
    try:
        div = art.find_elements_by_tag_name("div")
        jd = div[3].text
    except:
        jd = "Not Available"
    data.append([name,company,ctc,experience,location,jd,req_skills,link])
#     except:
#         pass

In [41]:
len(article)

20

In [42]:
pd.DataFrame(data[1:],columns=data[0])

,Title,Company,ctc,experience,location,Description,skills_required,link
0,Junior Data Scientist,Snaphunt,Not disclosed,1-2 Yrs,Bengaluru,,Data Science Predictive Modeling R Algorithms ...,https://www.naukri.com/job-listings-junior-dat...
1,Data Science Interns,Mahindra TeQO Pvt Ltd,Not disclosed,0-1 Yrs,Bengaluru(Bellandur),,Predictive Modeling data science data mining m...,https://www.naukri.com/job-listings-data-scien...
2,Lead Data Scientist,Snaphunt,Not disclosed,1-6 Yrs,Bengaluru,,Data Science Pyspark R Artificial Intelligence...,https://www.naukri.com/job-listings-lead-data-...
3,Data Scientist,Similarityx solutions private limited,"2,25,000 - 3,00,000 PA.",0-2 Yrs,"Chennai, Bengaluru, Hyderabad",1.Translate business problems into analytical ...,Data Science tableau oracle Data Scientist had...,https://www.naukri.com/job-listings-data-scien...
4,Data Scientist / Text Analytics / NLP Specialist,Datamatics Global services Ltd.,Not disclosed,1-4 Yrs,Bengaluru(Bellandur),,Data Science NLP Text Analytics Text Mining De...,https://www.naukri.com/job-listings-data-scien...
5,Data Scientist -Intern,zBliss Technologies Pvt Ltd,"1,75,000 - 2,25,000 PA.",0-1 Yrs,"Chennai(Taramani), Bengaluru(Electronic City +1)",Internship Cohort Team Size : 3Apply only if y...,tensorflow python data analysis data science k...,https://www.naukri.com/job-listings-data-scien...
6,Trainee Data Scientist- RK,MNC AI DS,"6,00,000 - 14,00,000 PA.",0-5 Yrs,"Guntur, Bengaluru, Hyderabad",We are looking out for Freshers/ Entry level p...,data science Artificial Intelligence Machine L...,https://www.naukri.com/job-listings-trainee-da...
7,Data Scientist,AXCESS CONSULTANCY SERVICES,Not disclosed,0-5 Yrs,Bengaluru,Coordinate with faculty to create best in clas...,data cleansing Automation Data analysis data s...,https://www.naukri.com/job-listings-data-scien...
8,Trainee Data Scientist- SM,MNC AI DS,"6,00,000 - 14,00,000 PA.",0-5 Yrs,"Chennai, Pune, Bengaluru",We are looking out for Freshers/ Entry level p...,data science Artificial Intelligence Machine L...,https://www.naukri.com/job-listings-trainee-da...
9,Data Analyst,Manipal Technologies Limited,"2,50,000 - 6,00,000 PA.",1-5 Yrs,Bengaluru,,Data Science R Data Analysis Data Mining Data ...,https://www.naukri.com/job-listings-data-analy...
10,Accenture is Hiring For Data Science-bangalore...,Accenture Solutions Pvt Ltd,Not disclosed,1-6 Yrs,"Delhi NCR, Mumbai, Bengaluru",,Predictive Modeling cluster sas Regression tim...,https://www.naukri.com/job-listings-accenture-...
11,Statistics Freshers For Data Science Team,GAMAKA AI SOLUTIONS,"5,50,000 - 15,50,000 PA.",0-5 Yrs,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",Should posses good problem-solving skills. Exp...,Data Science analytics data analytics sas data...,https://www.naukri.com/job-listings-statistics...
12,Senior Analyst - Sql/sas/ Python/ Machine Lear...,Huquo Consulting Pvt. Ltd,Not disclosed,1-4 Yrs,Bengaluru,"Bachelors degree in Computer Science, Math, Fi...",Data Science SAS Data Scientist Data Analytics...,https://www.naukri.com/job-listings-senior-ana...
13,Intern / Remote / Part Time Software Developer,Digital Spirit,Not disclosed,0-5 Yrs,"Indore, Bengaluru","Dear Candidate, We are looking for Intern / Re...",C# it development Big Data Part Time Laravel M...,https://www.naukri.com/job-listings-intern-rem...
14,Jr.Frontend Engineer,Mate Labs,Not disclosed,1-3 Yrs,Bengaluru,Skills Required: 1 - 3 Years of Experience Rea...,Health insurance github jQuery data science Ar...,https://www.naukri.com/job-listings-jr-fronten...
15,Technical Trainers,Rooman,Not disclosed,0-3 Yrs,Bengaluru,"Job Requirements: A passion for learning, teac...",Computer science Technical training Cloud comp...,https://www.naukri.com/job-listings-technical-...
16,Data Science,Capgemini Technology Services India Limited,Not disclosed,1-2 Yrs,Bengaluru,,Logistic regression data science Analytical Co...,https://www.naukri.com/job-listings-data-scien...
17,Data Science Associate - Auto Finance,JP Morgan Chase,Not disclosed,0-5 Yrs,"Bengaluru, Bangalore East",,operations technology human resources finance,https://www.naukri.com/job-listings-data-scien...
18,Junior Digital Content Specialist,Kaplan Test Prep,Not disclosed,0-3 Yrs,Bengaluru,Job Description Job Impact and Scope Summary T...,Content management Manager Quality Assurance P...,https://www.naukri.com/job-listings-junior-dig...
19,Junior Digital Content Specialist,Kaplan Test Prep,Not disclosed,0-3 Yrs,Bengaluru,Job Description Job Impact and Scope Summary T...,Content management Manager Quality Assurance P...,https://www.naukri.com/job-listings-junior-dig...

In [44]:
div = wd.find_element_by_class_name("list")
article = div.find_elements_by_tag_name("article")
art = article[0]
a = art.find_elements_by_tag_name("a")
name = a[0].text
link = a[0].get_attribute("href")
company = a[1].text
a[2].text

'(10 Reviews)'

In [46]:
review = art.find_element_by_tag_name("span")
review.text

'3.5'

In [49]:
no_of_review = a[2].text
no_of_review = no_of_review[1:-1]
no_of_review

'10 Reviews'

In [55]:
ul = art.find_elements_by_tag_name("ul")
ul[0].text

'3-6 Yrs\nNot disclosed\nBengaluru'

In [61]:
li = ul[0].find_elements_by_tag_name("li")
experience = li[0].text
ctc = li[1].text
location = li[2].text
location

'Bengaluru'

In [64]:
div = art.find_elements_by_tag_name("div")
jd = div[3].text

'Who can join Immediate - 20 days is only preferred'

In [67]:
req_skills = ul[1].text
req_skills

'Data Science\nData Ingestion\nTensorflow\nR\nData Scientist\nPySpark\nStatistical Modeling\nMachine Learning'

In [70]:
span = art.find_elements_by_tag_name("span")
posted = span[5].text

'1 DAY AGO'