In [1]:
import selenium
from selenium import webdriver
import pandas as pd

In [2]:
DRIVER_PATH = './chromedriver.exe'
wd = webdriver.Chrome(executable_path=DRIVER_PATH)
url = 'https://www.shine.com/job-search/'

In [38]:
skill = 'data science'
loc = 'bengaluru'
exp = '2'

In [4]:
url_skill = '-'.join(skill.split())
url = url + url_skill + '-jobs-in-' + loc
url

'https://www.shine.com/job-search/data-science-jobs-in-bengaluru'

In [5]:
wd.get(url)

In [43]:
try:
    js = f'document.getElementById("id_loc").value="{loc}";'
    js += f'document.getElementsByClassName("submit")[0].click();'
    wd.execute_script(js)
except:
    pass
try:
    container = wd.find_element_by_id("id_results")
    lst = container.find_elements_by_class_name("search_listing")
except:
    pass
data = [['Title','Company','ctc','experience','location','Description','skills_required','link']]
for li in lst:
    try:
        title = li.find_element_by_tag_name("a")
        name = title.get_attribute("title")
        link = title.get_attribute("href")
    except:
        continue
    try:
        experience = li.find_element_by_class_name("cls_jobexperience").text
        e = int(experience[0])
        exp = int(exp)
        if e!=exp and e!=exp-1 and e!=exp+1:
            continue
    except:
        exp = 'Not Available'
    try:
        company = li.find_element_by_class_name("cls_jobcompany").text
    except:
        company = 'Not Available'
    try:
        loc = li.find_element_by_class_name("snp_loc").text
    except:
        loc = 'Not Available'
    try:
        jd = li.find_element_by_class_name("srcresult").text
    except:
        jd = 'Not Available'
    try:
        req_skills = li.find_element_by_class_name("cls_jobskill").text
    except:
        req_skills = 'Not Available'
    sal = 'Not Available'
    data.append([name,company,sal,exp,loc,jd,req_skills,link])

5 2
4 2
4 2
8 2
5 2
5 2

In [44]:
pd.DataFrame(data[1:],columns=data[0])

,Title,Company,ctc,experience,location,Description,skills_required,link
0,Data Scientist,Baker Hughes Incorporated,Not Available,2,Bangalore,Essential Responsibilities: Work In Cross-Func...,"Skills :data analysis, data science, data qual...",https://www.shine.com/jobs/data-scientist/bake...
1,Senior Data Scientist,"PayPal Holdings, Inc.",Not Available,2,Bangalore,"As A Senior Data Scientist At PayPal, You Will...","Skills :data mining, data science, data analys...",https://www.shine.com/jobs/senior-data-scienti...
2,Manager Data Science,Reliance Jio Infocomm Limited Inventory,Not Available,2,Bangalore,"1. Specify, Design, And Implement New Data Sci...","Skills :data science, data management, data st...",https://www.shine.com/jobs/manager-data-scienc...
3,AI Developer/ Data Scientist,OPEXAI BUSINESS CONSULTING LLP,Not Available,2,Bangalore,About The Job: Selected Candidate'S Day - To -...,"Skills :data structures, big data, data scien...",https://www.shine.com/jobs/ai-developer-data-s...
4,Analyst Data Scientist,CAMSDATA Technologies India Pvt Ltd,Not Available,2,Bangalore,Build An In-Depth Understanding Of The Problem...,"Skills :data analysis, big data, data mining,...",https://www.shine.com/jobs/analyst-data-scient...
5,Data Scientist,Denave India Pvt Ltd.,Not Available,2,Bangalore,The Role Requires Deep Knowledge In Designing ...,"Skills :data analysis, statistical data analy...",https://www.shine.com/jobs/data-scientist/dena...
6,Principal Data Scientist & Software Developmen...,IBM India Pvt. Limited,Not Available,2,Bangalore,"As A Principal Data Scientist, You Will Be Res...","Skills : big data, data mining, data science, ...",https://www.shine.com/jobs/principal-data-scie...
7,Senior Data Scientist,"PayPal Holdings, Inc.",Not Available,2,Bangalore,"As A Senior Data Scientist At PayPal, You Will...","Skills :data mining, data science, data analys...",https://www.shine.com/jobs/senior-data-scienti...
8,"Data Scientist - ML, Python",Brillio Technologies Pvt. Ltd,Not Available,2,Bangalore,* A Day In The Life Of Analytics Specialist Yo...,"Skills : big data, data architects, data analy...",https://www.shine.com/jobs/data-scientist-ml-p...
9,Lead Data Scientist,"PayPal Holdings, Inc.",Not Available,2,Bangalore,Fueled By A Fundamental Belief That Having Acc...,"Skills :data mining, data science, data analys...",https://www.shine.com/jobs/lead-data-scientist...
10,Data Science Analyst - Traffic Quality,Amazon,Not Available,2,Bangalore,Advertising At Amazon Is A Fast-Growing Busine...,"Skills :data science, big data, data visualiz...",https://www.shine.com/jobs/data-science-analys...
11,MSSQL Data Science & R Analytics Programmer,OPTIDESK SOLUTIONS PRIVATE LIMITED,Not Available,2,Bangalore,MSSQL Data Science & R Analytics Programmer Fu...,"Skills :data science, supply chain solutions,...",https://www.shine.com/jobs/mssql-data-science-...
12,R&D Senior Software Engineer (Data Science),Virtuous Transactional Analytics Pvt. Ltd.,Not Available,2,Bangalore,:We Are Looking For An Experienced Data Scient...,"Skills :data science, life sciences, compute...",https://www.shine.com/jobs/rd-senior-software-...
13,Data Scientist,Applied Materials India Pvt Ltd,Not Available,2,Bangalore,Key Responsibilities Build Data Pipelines For ...,"Skills :data analysis, big data, data science...",https://www.shine.com/jobs/data-scientist/appl...

In [8]:
js = f'document.getElementById("id_loc").value="{loc}";'
js += f'document.getElementsByClassName("submit")[0].click();'
wd.execute_script(js)

In [10]:
container = wd.find_element_by_id("id_results")
lst = container.find_elements_by_class_name("search_listing")
li = lst[0]
li.text

'Data Scientist\nMay 16, 2020\nBaker Hughes Incorporated\n1 to 6 Yrs\nBangalore\nEssential Responsibilities: Work In Cross-Functional Teams To Translate Algorithms Into Commercially Viable Products And Services. Contribute To Technical Teams In Development, Deployment And Application Of Applied Analytics, Predictive Analytics And\nSkills :data analysis, data science, data quality, data analytics, data cleansing\nApply on website'

In [13]:
title = li.find_element_by_tag_name("a")
name = title.get_attribute("title")
link = title.get_attribute("href")
print(name,link)

Data Scientist https://www.shine.com/jobs/data-scientist/baker-hughes-incorporated/10509727/

In [14]:
company = li.find_element_by_class_name("cls_jobcompany").text
company

'Baker Hughes Incorporated'

In [29]:
exp = li.find_element_by_class_name("cls_jobexperience").text
exp

'5 to 10 Yrs'

In [16]:
loc = li.find_element_by_class_name("snp_loc").text
loc

'Bangalore'

In [17]:
jd = li.find_element_by_class_name("srcresult").text
jd

'Essential Responsibilities: Work In Cross-Functional Teams To Translate Algorithms Into Commercially Viable Products And Services. Contribute To Technical Teams In Development, Deployment And Application Of Applied Analytics, Predictive Analytics And'

In [19]:
req_skills = li.find_element_by_class_name("cls_jobskill").text
req_skills

'Skills :data analysis, data science, data quality, data analytics, data cleansing'