In [1]:
import selenium
from selenium import webdriver
import pandas as pd

In [5]:
DRIVER_PATH = './chromedriver.exe'
wd = webdriver.Chrome(executable_path=DRIVER_PATH)
url = 'https://www.timesjobs.com/candidate/job-search.html?searchType=personalizedSearch&from=submit&txtKeywords='

In [6]:
skill = 'data science'
loc = 'bengaluru'
exp = '0'

In [7]:
url_skill = '+'.join(skill.split())

In [8]:
url = url + url_skill + '&txtLocation=' + loc + '&cboWorkExp1=' + exp
url

'https://www.timesjobs.com/candidate/job-search.html?searchType=personalizedSearch&from=submit&txtKeywords=data+science&txtLocation=bengaluru&cboWorkExp1=0'

In [9]:
wd.get(url)

In [50]:
try:
    js = 'document.getElementById("closeId").click();'
    wd.execute_script(js)
except:
    pass
try:
    container = wd.find_element_by_class_name("new-joblist")
    lst = container.find_elements_by_class_name("job-bx")
except:
    pass
data = [['Title','Company','ctc','experience','location','Description','skills_required','link']]
i = 0
for li in lst:
    try:
        title = li.find_element_by_class_name("clearfix").find_element_by_tag_name("a")
        name = title.text
        link = title.get_attribute("href")
    except:
        continue
    try:
        company = li.find_element_by_class_name("joblist-comp-name").text
    except:
        company = 'Not Available'
    try:
        exp = li.find_element_by_class_name("top-jd-dtl").find_elements_by_tag_name("li")[0].text
        exp = exp[12:]
    except:
        exp = 'Not Available'
    try:
        try:
            loc = li.find_element_by_class_name("top-jd-dtl").find_elements_by_tag_name("li")[2].text
        except:
            loc = li.find_element_by_class_name("top-jd-dtl").find_elements_by_tag_name("li")[1].text
        loc = loc[12:]
    except:
        loc = 'Not Available'
    try:
        ele = li.find_element_by_class_name("rupee").text
        sal = li.find_element_by_class_name("top-jd-dtl").find_elements_by_tag_name("li")[1].text
        sal = sal[2:]
    except:
        sal = 'Not Available'
    try:
        jd = li.find_element_by_class_name("list-job-dtl").find_elements_by_tag_name("li")[0].text
    except:
        jd = 'Not Available'
    try:
        req_skills = li.find_element_by_class_name("list-job-dtl").find_elements_by_tag_name("li")[1].text
    except:
        req_skills = 'Not Available'
    data.append([name,company,sal,exp,loc,jd,req_skills,link])
    i+=1
    if i==10:
        break

In [51]:
pd.DataFrame(data[1:],columns=data[0])

,Title,Company,ctc,experience,location,Description,skills_required,link
0,Data Science,ADmyBRAND,Not Available,0 - 3 yrs,Bengaluru / Bangalore,Job Description: Data ScienceSelecting feature...,"KeySkills: data mining , api , machine learning",https://www.timesjobs.com/job-detail/data-scie...
1,Data Science,DataWeave Software Pvt. Ltd.,Not Available,0 - 3 yrs,Bengaluru / Bangalore,Job Description: Data ScienceWe the Data Scien...,"KeySkills: natural language processing , machi...",https://www.timesjobs.com/job-detail/data-scie...
2,Head - Data Sciences,Posterity Consulting,Not Available,0 - 3 yrs,Bengaluru / Bangalore,Job Description: Head - Data Sciences Location...,"KeySkills: data analysis , data science",https://www.timesjobs.com/job-detail/head-data...
3,Data Science Engineer,Bloom Consulting Services,Not Available,0 - 3 yrs,Bengaluru / Bangalore,Job Description: Data Science EngineerRoles an...,"KeySkills: hive , algorithms , python , scala ...",https://www.timesjobs.com/job-detail/data-scie...
4,Computer Operator / Data Entry Operator,Aryan technologies (More Jobs),Rs 2.80 - 3.80 Lacs p.a.,0 - 3 yrs,"Ahmedabad, Bengaluru / Bangalore, Hyderabad/Se...",Job Description: Roles & Responsibilities: Pos...,"KeySkills: Fresher , Online Data Entry , Data ...",https://www.timesjobs.com/job-detail/computer-...
5,"home based work for all , Imternet marketing ,...",JOY Trip (More Jobs),Rs 3.00 - 5.00 Lacs p.a.,0 - 3 yrs,"Ahmedabad, Bengaluru / Bangalore, Chennai, Hyd...","Job Description: Dear All , Work profile : To ...","KeySkills: Bpo , Medical Rep , Executive , sal...",https://www.timesjobs.com/job-detail/home-base...
6,Warehouse Assistant,Venice Management Service (More Jobs),Rs 3.00 - 5.00 Lacs p.a.,0 - 3 yrs,"Bengaluru / Bangalore, Chennai, Hyderabad/Secu...",Job Description: Accounting KnowledgeTimely di...,"KeySkills: Invoicing , Delivery Challan , Cust...",https://www.timesjobs.com/job-detail/warehouse...
7,Inside Sales Specialist - Female candidates _w...,mchoovers consulting (More Jobs),Not Available,0 - 3 yrs,"Bengaluru / Bangalore, Delhi/NCR, Mumbai, Noid...",Job Description: DescriptionRemote / Work From...,"KeySkills: inside sales , Lead Generation , Co...",https://www.timesjobs.com/job-detail/inside-sa...
8,Store & Purchase Officer,Venice Management Service (More Jobs),Rs 3.00 - 5.00 Lacs p.a.,0 - 3 yrs,"Bengaluru / Bangalore, Chennai, Hyderabad/Secu...",Job Description: Knowledge of proper bookkeepi...,"KeySkills: stores operations , inventory opera...",https://www.timesjobs.com/job-detail/store-amp...
9,Front Office Executive,Venice Management Service (More Jobs),Rs 3.00 - 5.00 Lacs p.a.,0 - 3 yrs,"Bengaluru / Bangalore, Chennai, Hyderabad/Secu...",Job Description: A front office executive is r...,"KeySkills: administration , front office execu...",https://www.timesjobs.com/job-detail/front-off...

In [10]:
js = 'document.getElementById("closeId").click();'
wd.execute_script(js)

In [32]:
container = wd.find_element_by_class_name("new-joblist")
lst = container.find_elements_by_class_name("job-bx")# job-bx wht-shd-bx")
li = lst[4]
len(lst)

25

In [33]:
li.text

'Computer Operator / Data Entry Operator\nAryan technologies (More Jobs)\ncard_travel\n0 - 3 yrs\n₹\nRs 2.80 - 3.80 Lacs p.a.\nlocation_on\nAhmedabad, Bengaluru / Bangalore, Hyderabad/Secunderabad, Kolkata, Pune\nJob Description: Roles & Responsibilities: Position:Fresher / Computer Operator / Data Entry Executive / Online Data Entry / Data Entry Operator / Data Base Administrator / Data Entr...\nKeySkills: Fresher , Online Data Entry , Data Entry Operator , Data Base Administrator , Data Entry Officer , Form Filling , Computer Operator , Entry Executive , DEO , Entry\nAPPLY\nPosted 1 day ago'

In [34]:
title = li.find_element_by_class_name("clearfix").find_element_by_tag_name("a")
name = title.text
link = title.get_attribute("href")
print(name,link)

Computer Operator / Data Entry Operator https://www.timesjobs.com/job-detail/computer-operator-data-entry-operator-aryan-technologies-ahmedabad-0-3yrs-jobid-msneMB66CElzpSvf__PLUS__uAgZw==-key-data%20science-loc-198355&source=srp

In [35]:
company = li.find_element_by_class_name("joblist-comp-name").text
company

'Aryan technologies (More Jobs)'

In [36]:
exp = li.find_element_by_class_name("top-jd-dtl").find_elements_by_tag_name("li")[0].text
exp = exp[12:]
exp

'0 - 3 yrs'

In [37]:
try:
    loc = li.find_element_by_class_name("top-jd-dtl").find_elements_by_tag_name("li")[2].text
except:
    loc = li.find_element_by_class_name("top-jd-dtl").find_elements_by_tag_name("li")[1].text
loc = loc[12:]    
loc

'Ahmedabad, Bengaluru / Bangalore, Hyderabad/Secunderabad, Kolkata, Pune'

In [41]:
ele = li.find_element_by_class_name("rupee").text
sal = li.find_element_by_class_name("top-jd-dtl").find_elements_by_tag_name("li")[1].text
sal = sal[2:]
sal

'Rs 2.80 - 3.80 Lacs p.a.'

In [43]:
jd = li.find_element_by_class_name("list-job-dtl").find_elements_by_tag_name("li")[0].text
jd

'Job Description: Roles & Responsibilities: Position:Fresher / Computer Operator / Data Entry Executive / Online Data Entry / Data Entry Operator / Data Base Administrator / Data Entr...'

In [45]:
req_skills = li.find_element_by_class_name("list-job-dtl").find_elements_by_tag_name("li")[1].text
req_skills

'KeySkills: Fresher , Online Data Entry , Data Entry Operator , Data Base Administrator , Data Entry Officer , Form Filling , Computer Operator , Entry Executive , DEO , Entry'